<div class="m-2">
  <div class="text-center">
    <button class="btn btn-danger f-16" type="button" data-toggle="collapse" data-target="#award" aria-expanded="false" aria-controls="award">
	觉得文章有帮助，欢迎小额赞赏 (*^_^*)  <i class="my-fa fa fa-hand-o-down" aria-hidden="true"></i>
    </button>
    <div class="collapse" id="award">
      <div class="row">

        <div class="col-6 p-3">
          <b class="text-center f-16">微信</b>
          <img class="card-img-top border border-primary w-100" src="{{ settings.award_wximg.url }}">
        </div>
        <div class="col-6 p-3">
          <b class="text-center f-16">支付宝</b>
          <img class="card-img-top border border-primary w-100" src="{{ settings.award_aliimg.url }}">
        </div>

      </div>
    </div>
  </div>
</div>
