<!--脚注-->
  <footer class="bg-light mt-4 p-4 f-16">
     <div class="text-center">
     <small><b class="text-info" id="webtime"></b></small><br>
     <script>
         show_date_time();
     </script>
        <span>© 2019 博客模板 </span>
            <a target="_blank" href="/sitemap.xml">SiteMap</a><br>
           <small>
             <a target="_blank" href="http://beian.miit.gov.cn/">京ICP备1234567号</a><br>
       <img src="/static/mainapp/img/BA1.png" />京公网安备 00000000号
           </small>
     </div>
  </footer>
